/*header*/
.header {
    padding: 24px 48px;
    border-radius: 0 0 24px 24px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.logo-wrapper {
    width: 155px;
    min-width: 155px;
}

.header-actions {
    gap: 12px;
}

.btn-header {
    height: 48px;
    padding: 0 20px;
}

.header-colling-btn {
    gap: 10px;
}

.header-nav {
    gap: 32px;
    font-size: var(--font-size-12);
}

.header-nav a {
    color: var(--color-white);
    background: #0f2438;
    white-space: nowrap;
}

.header-nav__list-special {
    gap: 4px;
}

.header-nav__list-main {
    gap: 12px;
}

.header-list-special-item {
    padding: 0 16px;
    border-radius: 20px;
    height: 36px;
}
/*END header*/

/*breadcrumbs*/
.breadcrumbs {
    gap: 12px;
    margin: 21px 0;
    font-size: var(--font-size-12-10);
    font-weight: 500;
}

.breadcrumbs li a {
    color: var(--color-gray-30);
}

.breadcrumbs li a:after {
    content: "/";
    margin-left: 12px;
}

.breadcrumbs li:last-child {
    color: var(--color-white);
}
/*END breadcrumbs*/

/*home*/
.top-section {
    margin-top: 24px;
}

.lead-form {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 21px;
}

.lead-form__content,
.lead-form__form {
    border-radius: 24px;
}

.lead-form__content {
    padding: 64px 48px;
    min-height: 450px;
}

.lead-form__title {
    max-width: 451px;
}

.lead-form__image {
    inset: 0;
    z-index: 0;
}

.lead-form__image img {
    border-radius: 24px;
}

.lead-form__description {
    position: relative;
    z-index: 1;
}

.lead-form__subtitle {
    margin-top: 32px;
    max-width: 342px;
}

.lead-form__form {
    padding: 32px;
    justify-content: space-between;
    gap: 24px;
}

.lead-form__stats-subTitle {
    margin-top: 8px;
    font-size: var(--font-size-16-12);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.16px;
}

.form-agreement {
    gap: 6px;
}

.form-agreement__check {
    margin-top: 4px;
    height: 12px;
    width: 12px;
    min-width: 12px;
    border-radius: 2px;
    border: 1px solid var(--color-primary-light);
}

.form-agreement:has(input:checked) .form-agreement__check {
    background-color: var(--color-primary-light);
}

.filter-checkbox:has(input:checked) .filter-checkbox__custom svg {
    opacity: 1;
    visibility: visible;
}

.form__label {
    gap: 2px;
}

.form__input-title {
    padding: 0 24px;
}

.form__input {
    height: 53px;
    padding: 0 24px;
    background-color: var(--color-light_gray-20);
    border: 1px solid var(--color-light_gray-15);
    border-radius: 12px;
}


.form__inputs {
    gap: 12px;
}

.features-section {
    margin-top: 24px;
}

.feature-card__icon {
    width: 128px;
    height: 128px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.features__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.feature-card {
    border-radius: 24px;
    overflow: hidden;
}

.feature-card__title {
    padding: 10px 24px 10px 0;
    font-size: var(--font-size-16-10);
}

.feature-card__icon-1 {
    background-image: url("/assets/images/card-icons/feature-img-1.webp");
}

.feature-card__icon-2 {
    background-image: url("/assets/images/card-icons/feature-img-2.webp");
}

.feature-card__icon-3 {
    background-image: url("/assets/images/card-icons/feature-img-3.webp");
}

.feature-card__icon-4 {
    background-image: url("/assets/images/card-icons/feature-img-4.webp");
}

.feature-card__icon:after {
    content: url("/assets/images/card-icons/feature-img-on.webp");
    position: absolute;
    left: 0;
    bottom: 0;
}

.stats__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    min-height: 228px;
}

.stats__card {
    border-radius: 24px;
    background-repeat: no-repeat;
    background-size: 110px auto;
    padding: 64px 48px 10px;
}

.stats-card__description {
    margin-top: 20px;
}

.stats-card__value {
    color: var(--color-blue-20);
}

.stats__card-1 {
    background-image: url("/assets/images/card-icons/stats-image-1.webp");
    background-position: top 0 left 0;
}

.stats__card-2 {
    background-image: url("/assets/images/card-icons/stats-image-2.webp");
    background-position: bottom 0 left 0;
}

.stats__card-3 {
    background-image: url("/assets/images/card-icons/stats-image-3.webp");
    background-position: bottom 0 right 0;
}

.slider-control-btn {
    height: 40px;
    width: 40px;
    border-radius: 12px;
}

.slider-controls {
    gap: 8px;
}

.section__content {
    margin-top: 32px;
}

.tubs-containers {
    margin-top: 32px;
}

.services-slider .swiper-slide,
.certificates-slider .swiper-slide {
    height: auto;
}

.certificates-card {
    display: flex;
    width: 224px;
    aspect-ratio: 224/318;
    background-color: var(--color-light_gray-25);
}

.certificates-card img {
    height: 100%;
    object-fit: cover;
}

.partners-card {
    width: 219px;
    aspect-ratio: 1;
    border-radius: 24px;
    padding: 32px;
}

.partners-card img {
    max-height: 100%;
    object-fit: cover;
}

.about-video .play-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-player {
    width: 100%;
    aspect-ratio: 1200/640;
    object-fit: cover;
    border-radius: 24px;
}

.play-icon.hidden {
    display: none;
}

.about-video {
    margin-top: 32px;
}

.reviews-card {
    padding: 32px;
    width: 387px;
    aspect-ratio: 387/370;
    gap: 12px;
}

.reviews-card__content {
    font-size: var(--font-size-16-12);
    font-weight: 500;
    line-height: 130%;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reviews-creator {
    gap: 32px;
}

.reviews-creator__image {
    width: 80px;
    aspect-ratio: 1;
}

.reviews-creator__image img {
    border-radius: 100px;
}

.show-full-review-btn {
    height: 28px;
    padding: 0 16px;
    background-color: var(--color-blue-20);
    color: var(--color-white);
    font-size: var(--font-size-12-10);
    border-radius: 12px;
    width: fit-content;
    opacity: 0;
    visibility: hidden;
    transition: visibility 300ms, opacity 300ms;
}

.reviews-creator__info {
    font-size: var(--font-size-16-12);
    gap: 8px;
}

.reviews-creator__data {
    color: var(--color-gray-36);
    line-height: 100%;
    letter-spacing: -0.16px;
}

.reviews-card__top {
    gap: 12px;
}

.reviews-rating {
    gap: 6px;
}

.reviews-from-site {
    width: 40px;
    height: 40px;
    min-width: 40px;
}

.reviews-card__bottom {
    margin-top: auto;
}

.service-section__title {
    font-size: var(--font-size-28-18);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.28px;
}

.tubs-section {
    position: relative;
}

.tubs-section-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.panes-wrapper {
    gap: 4px;
}

.pans-btn {
    font-size: var(--font-size-16-12);
    line-height: 100%;
    letter-spacing: -0.16px;
}

.pans-btn.active {
    background-color: var(--color-blue-20);
    color: var(--color-white);
}

.inTubs__slider-controls {
    gap: 8px;
    right: 10px;
    top: 0;
}

.service-card {
    padding: 32px;
    gap: 24px;
    height: 100%;
}

.service-card__description {
    font-size: var(--font-size-16-12);
    line-height: 130%;
    color: var(--color-light_gray-11);
}

.service-card__content {
    justify-content: space-between;
    gap: 24px;
}

.service-card__image {
    width: 128px;
    aspect-ratio: 1;
}

.service-card__tags {
    top: 0;
    right: 0;
}

.service-card__tag {
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 32px;
    padding: 0 16px;
    border-radius: 12px;
}

.service-card__btn {
    margin-top: auto;
}

.faq-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.faq-item {
    height: fit-content;
}

.faq-question {
    color: var(--color-black);
    padding: 20px 32px;
    gap: 12px;
    white-space: wrap;
    text-align: left;
}

.faq-question:after {
    content: url("/assets/images/icons/plus-icon.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    transform: rotate(0deg);
    transition: transform 300ms;
}

.faq-answer {
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms, margin-top 300ms;
}

.qaq-answer-content,
.qaq-answer-content p,
.qaq-answer-content ul,
.qaq-answer-content ol {
    font-size: var(--font-size-16-12);
    font-weight: 500;
    line-height: 130%
}

.qaq-answer-content {
    padding: 0 32px 20px;
}

.open .faq-answer {
    margin-top: 4px;
}

.open .faq-question:after {
    transform: rotate(45deg);
}

.success-stats {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 20px;
}

.success-stats__features {
    gap: 20px;
}

.success-stats__title {
    font-size: var(--font-size-24-18);
    font-weight: 500;
    line-height: 130%
}

.success-stats__item {
    height: 276px;
    padding: 31px 27px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
}

.success-stats__item:nth-child(1) {
    background-image: url("/assets/images/banners/success-stats-img-1.webp");
}

.success-stats__item:nth-child(2) {
    background-image: url("/assets/images/banners/success-stats-img-2.webp");
}

.success-stats__item:nth-child(3) {
    background-image: url("/assets/images/banners/success-stats-img-3.webp");
}

.success-stats__item:nth-child(2) .success-stats__title {
    max-width: 258px;
}

.success-stats__item:nth-child(3) .success-stats__title {
    max-width: 404px;
}

.success-stats__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.success-stats__item-long {
    grid-column: span 2;
}

.contacts-section {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 20px;
}

.contacts-section__map {
    height: 450px;
}

.contacts-section__map iframe {
    height: 100%;
    width: 100%;
    border-radius: 24px;
}

.contacts-section__content {
    background-image: url("/assets/images/banners/bg-stars.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    gap: 24px;
    padding: 32px;
}

.contacts-item {
    gap: 14px;
}

.contacts-wrapper {
    gap: 24px;
}

.consultation-section{
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 20px;
}

.consultation-consultant{
    min-height: 450px;
    background-image: url("/assets/images/banners/assistant-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.consultation-content{
    padding: 32px;
    gap: 24px;
}

.title-26-18{
    font-size: var(--font-size-26-18);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.26px;
}

.consultation-title__wrapper{
    gap: 8px;
}

.consultation-time__wrapper{
    justify-content: end;
}

.consultation-time{
    border: 4px solid var(--color-blue-20);
    border-radius: 100%;
    height: 65px;
    width: 65px;
    font-size: var(--font-size-16);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.16px;
}

.consultation-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 88px;
}

.consultation-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 88px;
}

.consultation-form .form-agreement{
    margin-top: 24px;
}

.form__submit{
    margin-top: auto;
}

.consultation-form,
.consultation-col{
    height: 100%;
}

.consultation-label-pane{
    border-radius: 12px;
    height: 28px;
    padding: 0 16px;
    background-color: var(--color-light_gray-21);
    font-size: var(--font-size-12);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.12px;
}

.consultation-label-pans{
    justify-content: end;
    gap: 4px;
    margin-bottom: 4px;
}

.service-section__bottom{
    margin-top: 32px;
}

.calculator-block{
    padding: 40px;
}

.calculator-content{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.calculator-content-col{
    padding: 32px;
    border-radius: 24px;
    border: 1px solid var(--color-blue-light-20);
}

.calculator-result-col{
    gap: 12px;
}

.calculator-result__list{
    margin-top: 16px;
    gap: 12px;
    font-size: var(--font-size-16-12);
    font-weight: 600;
    line-height: 130%;
}

.calculator-result__list li{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.calculator-result__title{
    font-size: var(--font-size-12-10);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.12px;
}

.calculator-result__details{
    color: var(--color-light_gray-11);
}

.calculator-result__value{
    color: var(--color-gray);
}

.request-form-inputs{
    gap: 45px;
}
.request-form__bottom{
    gap: 24px;
}

.calculator-result__line{
    height: 1px;
    background-color: var(--color-light_gray-16);
}

.promo-block{
    border: 1px solid var(--color-blue-light-20);
    padding: 64px 48px;
    background-image: url("/assets/images/banners/bg-image-4.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promo-title{
    font-size: var(--font-size-32);
    line-height: 100%;
    letter-spacing: -0.32px;
}

.promo-content{
    gap: 32px;
}

.promo-description{
    font-size: var(--font-size-16);
    line-height: 130%
}

.promo-content__btn{
    height: 56px;
    padding: 0 32px;
    border-radius: 12px;
    font-size: var(--font-size-16);
}

.whiteBtnHover{
    transition: background-color 300ms, color 300ms, border-bottom-color 300ms;
}

.whiteBtnHover svg path{
    transition: fill 300ms;
}
/*END Home*/


/*service page*/
.seo-section{
    padding: 64px 48px;
}

.seo-block{
    max-width: 590px;
    gap: 32px;
}

.bore-seo-btn{
    max-width: 165px;
}

.seo-block__content{
    font-size: var(--font-size-16-12);
    font-weight: 500;
    line-height: 130%;
    max-height: 63px;
    overflow: hidden;
    transition: max-height 300ms;
}

.service-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.service-containers{
    margin-top: 32px;
}

.service-top{
    gap: 8px;
}

/*END service page*/

/*contacts page*/
.requisites-section{
    margin-top: 20px;
    padding: 32px;
    border-radius: 24px;
    gap: 47px;
}

.requisites-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 47px 29px;
}

.requisites__term{
    font-size: var(--font-size-16-12);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.16px;
    color: var(--color-gray-26);
    margin-bottom: 12px;
}

.requisites-content dl,
.requisites-content dd{
    padding: 0;
    margin: 0;
}
/*END contacts page*/

/*contacts page*/
.page-section__stats{
    margin-top: 32px;
}
/*END contacts page*/



/*confidentiality page*/
.confidentiality-container{
    padding: 64px 48px;
}

.confidentiality-section{
    max-width: 590px;
}

.confidentiality-content{
    margin-top: 32px;
    font-size: var(--font-size-16-12);
    font-weight: 500;
    line-height: 130%;
}
/*END confidentiality page*/

/*error page*/
.error-page-section {
    aspect-ratio: 1200/670;
    background-image: url("/assets/images/main/404-img.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 48px;
    border-radius: 16px;
}

.error-page-content {
    gap: 32px;
}

/*END error page*/

/*footer*/
.footer {
    padding: 24px 48px 64px;
    border-radius: 24px 24px 0 0;
}

.footer-legal {
    gap: 4px;
    margin-top: auto;
}

.footer-content {
    gap: 80px;
}

.footer-legal,
.footer-legal__link,
.footer-nav__link {
    color: var(--color-gray-35);
}

.footer-contacts {
    width: 100%;
    flex: 1 0 227px;
}

.footer-nav {
    flex: 1 0 100px;
}

.footer-contacts,
.footer-nav__list,
.schedule-times,
.soc-wrapper {
    gap: 12px;
}

.footer-nav__list,
.footer-contacts__item {
    font-size: var(--font-size-12);
}

.footer-nav__title {
    color: var(--color-white);
}

.footer-contacts__item {
    gap: 12px;
}

.mb-show {
    display: none;
}

/*END footer*/

@media (hover: hover) {
    .reviews-card:hover .show-full-review-btn {
        visibility: visible;
        opacity: 1;
    }

    .whiteBtnHover:hover{
        background-color: var(--color-blue-20);
        color: var(--color-white);
    }
    .whiteBtnHover:hover svg path{
        fill: var(--color-white);
    }
}















