@media (max-width: 1200px) {

    .header {
        padding: 10px;
        border-radius: 16px;
        width: calc(100% + 20px);
        margin-left: -10px;
    }

    .header,
    .header-nav {
        gap: 6px;
    }

    .header-actions {
        gap: 4px;
    }

    .btn-header {
        padding: 0 12px;
        height: 32px;
    }

    .header-list-special-item {
        height: 32px;
    }

    .footer-contacts {
        width: 100%;
        flex: 1 1 auto;
    }

    .footer-content {
        gap: 40px;
    }
}

@media (max-width: 992px) {

    .header-nav {
        display: none;
    }

    .header {
        padding: 10px;
        border-radius: 16px;
    }

    .btn-header {
        height: 32px;
        padding: 0 12px;
    }

    .logo-wrapper {
        width: 103px;
        min-width: 103px;
    }

    .header-colling-btn {
        gap: 4px;
    }

    .header-colling-btn .arrow-icon path {
        fill: var(--color-gray);
    }

    /*breadcrumbs*/
    .breadcrumbs {
        gap: 12px;
        margin: 16px 0 24px;
    }

    .breadcrumbs li a {
        color: var(--color-gray-30);
    }

    .breadcrumbs li a:after {
        content: "/";
        margin-left: 12px;
    }

    .breadcrumbs li:last-child {
        color: var(--color-white);
    }

    /*END breadcrumbs*/
    /*home*/
    .top-section {
        margin-top: 16px;
    }

    .lead-form__subtitle {
        margin-top: 12px;
        max-width: 92%;
    }

    .lead-form__form {
        padding: 16px;
    }

    .lead-form__content,
    .lead-form__form {
        border-radius: 16px;
    }

    .lead-form {
        grid-template-columns: 100%;
        gap: 12px;
    }

    .lead-form__content {
        padding: 16px 16px 240px;
        min-height: unset;
    }

    .lead-form__stats-subTitle {
        letter-spacing: -0.12px;
    }

    .features__grid {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .feature-card__icon {
        height: 64px;
        width: 64px;
    }

    .feature-card {
        border-radius: 16px;
    }

    .feature-card__icon:after {
        left: -8px;
        bottom: -48px;
    }

    .features-section {
        margin-top: 12px;
    }

    .stats__grid {
        grid-template-columns: 100%;
    }

    .stats__card {
        background-size: 50px auto;
        padding: 32px 48px;
    }

    .stats__card-1 {
        background-image: url("/assets/images/card-icons/stats-image-1-mb.webp");
        background-position: top 4px left 7px;
    }

    .stats__card-2 {
        background-image: url("/assets/images/card-icons/stats-image-2-mb.webp");
        background-position: bottom 12px left 7px;
    }

    .stats__card-3 {
        background-image: url("/assets/images/card-icons/stats-image-3-mb.webp");
        background-position: bottom 6px right 0;
    }

    .certificates-card {
        width: 113px;
        aspect-ratio: 113/160;
    }

    .slider-control-btn {
        height: 32px;
    }

    .slider-control-btn svg {
        height: 9px;
        width: 5px;
    }

    .partners-card {
        width: 100px;
        padding: 14px;
        border-radius: 11px;
    }

    .video-player {
        border-radius: 16px;
    }

    .about-video {
        margin-top: 12px;
    }

    .reviews-card {
        width: 300px;
        aspect-ratio: 300/312;
        padding: 16px;
    }

    .reviews-from-site {
        width: 24px;
        height: 24px;
        min-width: 24px;
    }

    .show-full-review-btn {
        opacity: 1;
        visibility: visible;
    }

    .service-card__title,
    .service-card__price {
        letter-spacing: -0.16px;
    }

    .pans-btn {
        letter-spacing: -0.12px;
        padding: 0 16px;
    }

    .tubs-section-top {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        gap: 12px;
    }

    .tubs-section-top .section__title {
        text-align: left;
    }

    .section__content {
        margin-top: 24px;
    }

    .tubs-section {
        position: unset;
    }

    .tubs-containers {
        margin-top: 12px;
        position: relative;
    }

    .inTubs__slider-controls {
        top: -44px;
        right: 0;
    }

    .service-card,
    .service-card__content {
        gap: 12px;
    }

    .service-card {
        padding: 16px;
    }

    .service-card__image {
        width: 64px;
    }

    .service-card__description {
        max-width: 165px;
    }

    .section__title {
        letter-spacing: -0.24px;
    }

    .service-section__title {
        letter-spacing: -0.18px;
    }

    .faq-grid {
        grid-template-columns: 100%;
        gap: 12px;
    }

    .faq-question {
        padding: 12px 16px;
    }

    .qaq-answer-content {
        padding: 0 16px 16px;
    }

    .open .faq-answer {
        margin-top: 0;
    }

    .success-stats__main,
    .success-stats {
        grid-template-columns: 100%;
    }

    .success-stats__item-long {
        grid-column: span 1;
    }

    .success-stats__item {
        padding: 16px;
    }

    .success-stats__item:nth-child(2) {
        background-image: url("/assets/images/banners/success-stats-img-2-mobile.webp");
        background-position: bottom right;
    }

    .success-stats__item:nth-child(3) {
        background-image: url("/assets/images/banners/success-stats-img-3-mobile.webp");
        background-position: bottom right;
    }

    .contacts-section {
        grid-template-columns: 100%;
        gap: 12px;
    }

    .contacts-section__map iframe {
        border-radius: 12px;
    }

    .contacts-section__content {
        background-image: none;
    }

    /*END home*/

    .seo-section{
        padding: 16px;
    }

    .seo-block{
        gap: 16px;
    }

    .bore-seo-btn{
        width: 100%;
    }



    .error-page-section {
        aspect-ratio: 300/480;
        background-image: url("/assets/images/main/404-img-mob.webp");
        padding: 16px;
    }

    .error-page-content {
        gap: 16px;
    }

    /*footer*/
    .footer {
        flex-direction: column;
        gap: 16px;
        padding: 16px 16px 24px;
    }

    .footer-legal {
        margin-top: 12px;
    }

    .footer-content {
        gap: 24px;
    }

    .error-page-content__btn {
        height: 52px;
        max-width: 127px;
    }

    /*END footer*/
    .mb-show {
        display: flex;
    }

    .mb-hide {
        display: none;
    }
}


@media (max-width: 480px) {


}