@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

    .header{
        padding: 24px;
        gap: 12px;
    }

    .header-nav{
        gap: 12px;
    }

    .footer-contacts{
        width: 100%;
        flex: 1 1 auto;
    }

    .footer-content{
        gap: 40px;
    }


}

@media (max-width: 992px) {
    .logo-wrapper{
        width: 103px;
        min-width: 103px;
    }


    /*breadcrumbs*/
    .breadcrumbs{
        gap: 12px;
        margin: 16px 0 24px;
    }
    .breadcrumbs li a{
        color: var(--color-gray-30);
    }

    .breadcrumbs li a:after{
        content: "/";
        margin-left: 12px;
    }

    .breadcrumbs li:last-child{
        color: var(--color-white);
    }

    /*END breadcrumbs*/



    .error-page-section{
        aspect-ratio: 300/480;
        background-image: url("/assets/images/main/404-img-mob.webp");
        padding: 16px;
    }

    .error-page-content{
        gap: 16px;
    }


    /*footer*/
    .footer{
        flex-direction: column;
        gap: 16px;
        padding: 16px 16px 24px;
    }

    .footer-legal{
        margin-top: 12px;
    }
    .footer-content{
        gap: 24px;
    }

    /*END footer*/
}



@media (max-width: 480px) {


}