/*font Oswald*/
@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/oswald/Oswald-ExtraLight.woff2') format('woff2'),
    url('/assets/fonts/oswald/Oswald-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}


