@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-100.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-600.woff2') format('woff2');
}



@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-900.woff2') format('woff2');
}


:root{
    --font-size-32-24: 32px;
    --font-size-16-12: 16px;
    --font-size-12-10: 12px;
    --font-size-10-8: 10px;

    --font-size-12: 12px;
}

@media (max-width: 992px) {
    :root{
        --font-size-32-24: 24px;
        --font-size-16-12: 12px;
        --font-size-12-10: 10px;
        --font-size-10-8: 8px;
    }
}


.fontWeight500{
    font-weight: 500;
}
.fontWeight600{
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

h1{
    font-size: var(--font-size-32-24);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.32px;
}

.text-m{
    font-size: var(--font-size-16-12);
}

.font-size-10-8{
    font-size: var(--font-size-10-8);
}

