@media (max-width: 1200px) {
    .header {
        padding: 10px;
        border-radius: 16px;
        width: calc(100% + 20px);
        margin-left: -10px;
    }

    .header,
    .header-nav {
        gap: 6px;
    }

    .header-actions {
        gap: 4px;
    }

    .btn-header {
        padding: 0 12px;
        height: 32px;
    }

    .header-list-special-item {
        height: 32px;
    }

    .footer-contacts {
        width: 100%;
        flex: 1 1 auto;
    }

    .footer-content {
        gap: 40px;
    }

    .calculator-content {
        grid-template-columns: 100%;
    }

    .article-container {
        gap: 20px;
    }
}

@media (max-width: 992px) {
    body.popup-open {
        padding-right: 0;
    }

    .header {
        padding: 10px;
        border-radius: 16px;
    }

    .btn-header {
        height: 32px;
        padding: 0 12px;
    }

    .logo-wrapper {
        width: 103px;
        min-width: 103px;
    }

    .header-colling-btn {
        gap: 4px;
    }

    /*breadcrumbs*/
    .breadcrumbs {
        gap: 12px;
        margin: 16px 0 24px;
        flex-wrap: wrap;
    }

    .breadcrumbs li a {
        color: var(--color-gray-30);
    }

    .breadcrumbs li a:after {
        content: "/";
        margin-left: 12px;
    }

    .breadcrumbs li:last-child {
        color: var(--color-white);
    }

    /*END breadcrumbs*/
    /*home*/
    .top-section {
        margin-top: 16px;
    }

    .lead-form__subtitle {
        margin-top: 12px;
        max-width: 92%;
    }

    .lead-form__form {
        padding: 16px;
    }

    .lead-form__content,
    .lead-form__form {
        border-radius: 16px;
    }

    .lead-form {
        grid-template-columns: 100%;
        gap: 12px;
    }

    .lead-form__content {
        padding: 16px 16px 300px;
        min-height: unset;
    }

    .lead-form__stats-subTitle {
        letter-spacing: -0.12px;
    }

    .features__grid {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .feature-card__icon {
        height: 64px;
        width: 64px;
    }

    .feature-card {
        border-radius: 16px;
    }

    .feature-card__icon:after {
        left: -8px;
        bottom: -48px;
    }

    .features-section {
        margin-top: 12px;
    }

    .stats__grid {
        grid-template-columns: 100%;
    }

    .stats__card {
        background-size: 50px auto;
        padding: 32px 48px;
    }

    .stats__card-1 {
        background-image: url("/assets/images/card-icons/stats-image-1-mb.webp");
        background-position: top 4px left 7px;
    }

    .stats__card-2 {
        background-image: url("/assets/images/card-icons/stats-image-2-mb.webp");
        background-position: bottom 12px left 7px;
    }

    .stats__card-3 {
        background-image: url("/assets/images/card-icons/stats-image-3-mb.webp");
        background-position: bottom 6px right 0;
    }

    .certificates-card {
        width: 113px;
        aspect-ratio: 113/160;
    }

    .slider-control-btn {
        height: 32px;
    }

    .slider-control-btn svg {
        height: 9px;
        width: 5px;
    }

    .partners-card {
        width: 100px;
        padding: 14px;
        border-radius: 11px;
    }

    .video-player {
        border-radius: 16px;
    }

    .about-video {
        margin-top: 12px;
    }

    .reviews-card {
        width: 300px;
        aspect-ratio: 300/312;
        padding: 16px;
    }

    .reviews-from-site {
        width: 24px;
        height: 24px;
        min-width: 24px;
    }

    .show-full-review-btn {
        opacity: 1;
        visibility: visible;
    }

    .service-card__title,
    .service-card__price {
        letter-spacing: -0.16px;
    }

    .pans-btn {
        letter-spacing: -0.12px;
    }

    .tubs-section-top {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        gap: 12px;
    }

    .tubs-section-top .section__title {
        text-align: left;
    }

    .section__content {
        margin-top: 24px;
    }

    .tubs-section {
        position: unset;
    }

    .tubs-containers {
        margin-top: 12px;
        position: relative;
    }

    .inTubs__slider-controls {
        top: -44px;
        right: 0;
    }

    .service-card,
    .service-card__content {
        gap: 12px;
    }

    .service-card {
        padding: 16px;
    }

    .service-card__image {
        width: 64px;
    }

    .service-card__description {
        max-width: 165px;
    }

    .service-section__title {
        letter-spacing: -0.18px;
    }

    .service-card__tag {
        height: 20px;
        padding: 0 8px;
    }

    .faq-grid {
        grid-template-columns: 100%;
        gap: 12px;
    }

    .faq-question {
        padding: 12px 16px;
    }

    .qaq-answer-content {
        padding: 0 16px 16px;
    }

    .open .faq-answer {
        margin-top: 0;
    }

    .success-stats__main,
    .success-stats {
        grid-template-columns: 100%;
    }

    .success-stats__features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .success-stats__item-long {
        grid-column: span 1;
    }

    .success-stats__item {
        padding: 16px;
    }

    .success-stats__item:nth-child(2) {
        background-image: url("/assets/images/banners/success-stats-img-2-mobile.webp");
        background-position: bottom right;
    }

    .success-stats__item:nth-child(3) {
        background-image: url("/assets/images/banners/success-stats-img-3-mobile.webp");
        background-position: bottom right;
    }

    .contacts-section {
        grid-template-columns: 100%;
        gap: 12px;
    }

    .contacts-section__map iframe {
        border-radius: 12px;
    }

    .contacts-section__content {
        background-image: none;
    }

    .title-26-18 {
        letter-spacing: -0.26px;
    }

    .consultation-section {
        display: flex;
        flex-direction: column-reverse;
        gap: 12px;
    }

    .consultation-content {
        padding: 16px;
    }

    .consultation-consultant {
        background-position: right top;
    }

    .consultation-top {
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;
    }

    .consultation-time__wrapper {
        justify-content: center;
    }

    .consultation-form {
        grid-template-columns: 100%;
        gap: 12px;
    }

    .consultation-form .form__submit {
        margin-top: 12px;
    }

    .form__input {
        height: 40px;
    }

    .calculator-result__title {
        letter-spacing: -0.1px;
    }

    .calculator-block,
    .calculator-content-col {
        padding: 16px;
    }

    .calculator-content {
        margin-top: 12px;
        gap: 12px;
    }

    .request-form-inputs {
        gap: 16px;
    }

    .form__input,
    .form__input-title {
        padding: 0 16px;
    }

    .steps-section-description__top {
        gap: 12px;
    }

    .steps-section {
        grid-template-columns: 100%;
        gap: 24px;
        background-image: none;
        padding: 16px 16px 0;
    }

    .history-item__number {
        letter-spacing: -0.12px;
    }

    .process-item__description {
        padding-bottom: 32px;
        gap: 12px;
    }

    .steps-section__process {
        padding-bottom: 0;
    }

    .process-item:last-child .process-item__description {
        padding-bottom: 16px;
    }

    .decision-board__title {
        letter-spacing: -0.18px;
    }

    .decision-board {
        padding: 16px;
    }

    .decision-board-table-wrapper {
        overflow-x: auto;
        transform: rotateX(180deg);
        padding: 1px 1px 24px;
    }

    .decision-board-table-wrapper .decision-board__table {
        transform: rotateX(180deg);
    }

    .decision-board-table-wrapper::-webkit-scrollbar {
        width: 8px;
    }

    .decision-board-table-wrapper::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: var(--color-primary);
    }

    .decision-board-table-wrapper::-webkit-scrollbar-track {
        border-radius: 100px;
        background: var(--color-light_gray-22);
    }

    .decision-board__table td {
        padding: 4px;
        min-width: 68px;
    }

    .decision-board__table tr td:last-child {
        min-width: 90px;
    }
    /*END home*/

    /*service page*/
    .seo-section {
        padding: 16px;
    }

    .seo-block {
        gap: 16px;
    }

    .service-containers {
        margin-top: 12px;
    }

    .bore-seo-btn {
        max-width: 100%;
    }

    .requisites__term {
        letter-spacing: -0.12px;
    }

    .requisites-section {
        margin-top: 24px;
        gap: 16px;
    }

    .requisites-content {
        grid-template-columns: 100%;
        gap: 16px;
    }

    .page-section__stats {
        margin-top: 56px;
    }

    .service-content {
        margin-top: 12px;
        grid-template-columns: 100%;
        gap: 32px;
    }

    .service-section__bottom {
        margin-top: 12px;
    }

    /*END service page*/
    /*about page*/
    .about-top-section {
        grid-template-columns: 100%;
        gap: 12px;
    }

    .about-top__item {
        padding: 16px;
        gap: 12px;
    }

    .about-top__image-wrapper {
        min-height: 291px;
        background-position: center;
        background-size: cover;
    }

    .process-item__number {
        width: 42px;
        min-width: 42px;
        margin-right: 0;
    }

    .about-top__image {
        background-size: 80%;
    }

    .promo-block {
        padding: 16px 16px 32px;
        flex-direction: column;
        gap: 88px;
        background-image: url("/assets/images/banners/bg-image-4-mob.webp");
    }

    /*END about page*/
    /*partners page*/
    .partners-top-section__wrapper {
        margin-top: 32px;
    }

    .partners-top__description {
        margin-top: 12px;
    }

    .partners-top-section {
        padding: 16px;
    }

    .partners-top-section {
        background-image: url("/assets/images/banners/bg-image-5-mob.webp");
    }

    /*END partners page*/
    /*blog page*/
    .blog-content {
        grid-template-columns: 100%;
        gap: 12px;
    }

    .panes-wrapper {
        overflow-x: auto;
        width: calc(100% + 20px);
        margin-left: -10px;
        padding: 0 10px;
    }

    .panes-wrapper::-webkit-scrollbar {
        display: none;
    }

    .blog-card {
        padding: 16px;
        gap: 12px;
    }

    .panes-wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .blog-card__reading-time svg path {
        fill: var(--color-primary-light);
        fill-opacity: 1;
    }

    .blog-card__text {
        font-weight: 500;
    }

    /*END blog page*/
    /*article page*/
    .article-author__type {
        line-height: 130%;
    }

    .article-author__name {
        line-height: 120%;
    }

    .article-aside__title {
        font-size: var(--font-size-16-14);
        font-weight: 500;
        line-height: 130%;
    }

    .article-container {
        grid-template-columns: 100%;
        gap: 33px;
    }

    .article-aside__card {
        padding: 16px;
        gap: 12px;
    }

    .article-top {
        margin-top: 24px;
    }

    .article-block-author {
        gap: 16px;
    }


    .article-block__content-description {
        padding: 0 0 20px;
    }

    .article-content img {
        max-height: 156px;
    }

    .article-card__top {
        flex-direction: column;
        align-items: center;
    }

    .article-card__btn {
        margin-top: 12px;
    }

    .article-card__content {
        align-items: center;
        text-align: center;
    }

    .article-card__image .service-card__tags {
        left: 0;
        right: auto;
    }

    .article-card__image .service-card__tag {
        height: 32px;
        padding: 0 16px;
    }

    .article-card {
        padding: 16px;
    }

    /*END article page*/
    /*error page*/
    .error-page-section {
        aspect-ratio: 300/480;
        background-image: url("/assets/images/main/404-img-mob.webp");
        padding: 16px;
    }

    .error-page-content {
        gap: 16px;
    }

    /*END error page*/
    /*confidentiality page*/
    .confidentiality-container {
        padding: 16px;
    }

    .confidentiality-section {
        max-width: 100%;
    }

    .confidentiality-content {
        margin-top: 16px;
    }

    /*END confidentiality page*/
    /*footer*/
    .footer {
        flex-direction: column;
        gap: 16px;
        padding: 16px 16px 24px;
    }

    .footer-legal {
        margin-top: 12px;
    }

    .footer-content {
        gap: 24px;
    }

    .error-page-content__btn {
        height: 52px;
        max-width: 127px;
    }

    /*END footer*/
    /*mobile menu*/
    .mobile-menu {
        top: calc(100% + 8px);
        max-width: 240px;
        gap: 24px;
    }

    .mobile-menu .header-nav {
        gap: 24px;
    }

    .mobile-menu.open {
        display: flex;
    }

    .mobile-menu-btn {
        width: 40px;
        background-image: url("/assets/images/icons/burger-icon.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .mobile-menu-btn.active {
        background-image: url("/assets/images/icons/burger-close-icon.svg");
    }

    .contacts-menu {
        right: 0;
        top: calc(100% + 18px);
        left: auto;
        min-width: 250px;
    }

    .search-menu {
        padding: 0 10px;
    }

    /*END mobile menu*/
    .mb-show {
        display: flex;
    }

    .mb-hide {
        display: none;
    }


    .popup-content {
        padding: 16px;
        gap: 24px;
    }
}
