@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-100.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/inter-tight/inter-tight-v8-cyrillic_cyrillic-ext-900.woff2') format('woff2');
}

:root {
    --font-size-32-26: 32px;
    --font-size-32-24: 32px;
    --font-size-28-18: 28px;
    --font-size-26-18: 26px;
    --font-size-24-18: 24px;
    --font-size-24-16: 24px;
    --font-size-24-12: 24px;
    --font-size-20-16: 20px;
    --font-size-16-14: 16px;
    --font-size-16-12: 16px;
    --font-size-16-10: 16px;
    --font-size-16-8: 16px;
    --font-size-12-10: 12px;
    --font-size-10-8: 10px;

    --font-size-32: 32px;
    --font-size-16: 16px;
    --font-size-12: 12px;
}

@media (max-width: 992px) {
    :root {
        --font-size-32-26: 26px;
        --font-size-32-24: 24px;
        --font-size-26-18: 18px;
        --font-size-28-18: 18px;
        --font-size-24-18: 18px;
        --font-size-24-16: 16px;
        --font-size-24-12: 12px;
        --font-size-20-16: 16px;
        --font-size-16-14: 14px;
        --font-size-16-12: 12px;
        --font-size-16-8: 8px;
        --font-size-16-10: 10px;
        --font-size-12-10: 10px;
        --font-size-10-8: 8px;
    }
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}


h1, .h1,
h2, .h2,
h4, .h4,
.text-m,
.text-l,
.text_S {
    font-weight: 500;
}


h1,
.h1 {
    font-size: var(--font-size-32-26);
    line-height: 100%;
    letter-spacing: -0.32px;
}

h2,
.h2 {
    font-size: var(--font-size-32-24);
    line-height: 100%;
    letter-spacing: -0.32px;
    color: var(--color-white);
}

.h2.color-black {
    color: var(--color-black);
}

h4,
.h4 {
    font-size: var(--font-size-20-16);
    line-height: 120%;
    letter-spacing: -0.2px;
}

h3,
.h3 {
    font-size: var(--font-size-24-18);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.24px;
}

.text-m {
    font-size: var(--font-size-16-14);
    line-height: 130%
}

.text-l {
    font-size: var(--font-size-16-12);
    line-height: 100%;
    letter-spacing: -0.16px;
}

.text_S {
    font-size: var(--font-size-12-10);
    line-height: 130%;
}

.font-size-10-8 {
    font-size: var(--font-size-10-8);
}

.font-size-24-16 {
    font-size: var(--font-size-24-16);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.24px;
}

.fontWeight500 {
    font-weight: 500;
}

.fontWeight600 {
    font-weight: 600;
}

@media (max-width: 992px) {
    h1
    .h1 {
        letter-spacing: -0.26px;
    }

    h2,
    .h2 {
        letter-spacing: -0.24px;
    }

    h4,
    .h4 {
        letter-spacing: -0.16px;
    }

    .text-l {
        font-size: var(--font-size-16-12);
        letter-spacing: -0.12px;
    }

    .font-size-24-16 {
        letter-spacing: -0.16px;
    }
}