<section class="{{pageSectionType}} width-container">
    <div class="calculator-block bg__white borderRadius-24-16">
        <div class="title-26-18">Калькулятор кредита</div>
        <form class="calculator-content">
            <div class="form__inputs flexColumn calculator-content-col">
                <label class="form__label flexColumn" data-range-wrapper>
                    <span class="form__input-title color__gray text_S">Сумма кредита</span>
                    <input  type="number" name="price" class="form__input text-l" placeholder="100 000 ₽" data-range-value>
                    <span class="range-wrap" >
                        <span class="range-track-wrapper" data-range-track-wrapper>
                            <input  class="range-input"
                                    type="range"
                                    min="0"
                                    max="30000000"
                                    step="100000"
                                    value="100000"
                                    data-range-track
                            >
                        </span>
                    </span>
                    <span class="form__input-title flexJustifyBetween color-light_gray-12 text_S">
                                <span>от 1 ₽</span>
                                <span>до 30 млн. ₽</span>
                            </span>
                </label>
                <label class="form__label flexColumn" data-range-wrapper>
                    <span class="form__input-title color__gray text_S">Ставка</span>
                    <input type="number" name="purpose" class="form__input text-l" placeholder="Цель кредита" data-range-value>
                    <span class="range-wrap" >
                        <span class="range-track-wrapper" data-range-track-wrapper>
                            <input  class="range-input"
                                    type="range"
                                    min="1"
                                    max="120"
                                    step="1"
                                    value="1"
                                    data-range-track
                            >
                        </span>
                    </span>
                    <span class="form__input-title flexJustifyBetween color-light_gray-12 text_S">
                                <span>от 1 %</span>
                                <span>до 120 %</span>
                            </span>
                </label>
                <div data-tabs-block>
                    <div class="consultation-label-pans flexBox" data-panes="">
                        <button type="button" class="consultation-label-pane data-pane color__gray pans-btn active" data-pane="">Год</button>
                        <button type="button" class="consultation-label-pane data-pane color__gray pans-btn" data-pane="">Месяц</button>
                    </div>
                    <div data-container="" class="active">
                        <label class="form__label flexColumn" data-range-wrapper>
                            <span class="form__input-title color__gray text_S">Срок кредитования</span>
                            <input type="number" name="loan-term" class="form__input text-l" placeholder="12" data-range-value>
                            <span class="range-wrap" >
                                <span class="range-track-wrapper" data-range-track-wrapper>
                                    <input  class="range-input"
                                            type="range"
                                            min="1"
                                            max="30"
                                            step="1"
                                            value="1"
                                            data-range-track
                                    >
                                </span>
                            </span>
                            <span class="form__input-title flexJustifyBetween color-light_gray-12 text_S">
                                <span>от 1 года</span>
                                <span>до 30 лет</span>
                            </span>
                        </label>
                    </div>
                    <div data-container="">
                        <label class="form__label flexColumn" data-range-wrapper>
                            <span class="form__input-title color__gray text_S">Срок кредитования</span>
                            <input type="number" name="loan-term" class="form__input text-l" placeholder="6" data-range-value>
                            <span class="range-wrap" >
                                <span class="range-track-wrapper" data-range-track-wrapper>
                                    <input  class="range-input"
                                            type="range"
                                            min="1"
                                            max="360"
                                            step="1"
                                            value="1"
                                            data-range-track
                                    >
                                </span>
                            </span>
                            <span class="form__input-title flexJustifyBetween color-light_gray-12 text_S">
                                <span>от 1 Месяц</span>
                                <span>до 360 Месяц</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="calculator-result-col calculator-content-col flexColumn flexJustifyBetween">
                <div class="flexColumn">
                    <div class="calculator-result__title">Результат</div>
                    <ul class="calculator-result__list resetListStyle flexColumn">
                        <li>
                            <span class="calculator-result__details">Ежемесячный платеж</span>
                            <span class="calculator-result__value">8 791.59 ₽</span>
                        </li>
                        <li>
                            <span class="calculator-result__details">Общая сумма выплат</span>
                            <span class="calculator-result__value">105 499.06 ₽</span>
                        </li>
                        <li>
                            <span class="calculator-result__details">Переплата по процентам</span>
                            <span class="calculator-result__value">5 499.06 ₽</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="request-form-inputs calculator-content-col flexColumn flexJustifyBetween">
                <div class="title-26-18">Оставить заявку</div>

                <div class="form__inputs flexColumn">
                    <label class="form__label flexColumn">
                        <span class="form__input-title color__gray text_S">Имя</span>
                        <input type="text" name="name" class="form__input text-l" placeholder="Имя" required>
                    </label>
                    <label class="form__label flexColumn">
                        <span class="form__input-title color__gray text_S">Телефон</span>
                        <input type="tel" name="phone" class="form__input text-l" placeholder="Телефон" data-phone-mask>
                    </label>
                </div>

                <div class="request-form__bottom flexColumn">
                    <label class="form-agreement flexBox">
                        <input type="checkbox" name="agreement&quot;" hidden="">
                        <span class="form-agreement__check flexCenter">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8" fill="none">
                                    <path d="M1 2.77778L4.2 6.33333L9 1" stroke="white" stroke-linecap="round"></path>
                                </svg>
                            </span>

                        <span class="filter-checkbox__label text_S color__gray">Нажимая на кнопку "Оставить заявку", вы даете <span class="color-blue-20">согласие на обработку персональных данных</span></span>
                    </label>
                    <button type="submit" class="form__submit btn__red btn-custom text-l w-100">Оставить заявку</button>
                </div>
            </div>
        </form>
    </div>

</section>

