<section class="consultation-section {{pageSectionType}} width-container">
    <div class="consultation-content bg__white borderRadius-24-16 flexColumn">
        <div class="consultation-top">
            <div class="consultation-title__wrapper flexColumn">
                <div class="consultation-title">Бесплатная консультация</div>
                <div class="consultation-subtitle color__gray text-l">Гарантия быстрой связи (5-10 минут)</div>
            </div>
            <div class="consultation-time__wrapper flexBox">
                <span class="consultation-time flexCenter color-blue-20">10:00</span>
            </div>
        </div>


        <form class="consultation-form">
            <div class="consultation-col form__inputs flexColumn">
                <label class="form__label flexColumn">
                    <span class="form__input-title color__gray text_S">Сумма кредита</span>
                    <input type="number" class="form__input text-l" placeholder="100 000 ₽">
                    <span class="form__input-title flexJustifyBetween color-light_gray-12 text_S">
                            <span>от 1 ₽</span>
                            <span>до 30 млн. ₽</span>
                        </span>
                </label>

                <div data-tabs-block>
                    <div class="consultation-label-pans flexBox" data-panes>
                        <button type="button" class="consultation-label-pane data-pane color__gray pans-btn" data-pane>Год</button>
                        <button type="button" class="consultation-label-pane data-pane color__gray pans-btn" data-pane>Месяц</button>
                    </div>
                    <div data-container>
                        <label class="form__label flexColumn">
                            <span class="form__input-title color__gray text_S">Срок кредитования</span>
                            <input type="number" class="form__input text-l" placeholder="12">
                            <span class="form__input-title flexJustifyBetween color-light_gray-12 text_S">
                            <span>от 1 года</span>
                            <span>до 30 лет</span>
                        </span>
                        </label>
                    </div>
                    <div data-container>
                        <label class="form__label flexColumn">
                            <span class="form__input-title color__gray text_S">Срок кредитования</span>
                            <input type="number" class="form__input text-l" placeholder="6">
                            <span class="form__input-title flexJustifyBetween color-light_gray-12 text_S">
                            <span>от 1 Месяц</span>
                            <span>до 30 Месяц</span>
                        </span>
                        </label>
                    </div>
                </div>

                <label class="form__label flexColumn">
                    <span class="form__input-title color__gray text_S">Цель кредита</span>
                    <input type="number" class="form__input text-l" placeholder="Цель кредита">
                </label>
            </div>
            <div class="consultation-col flexColumn">
                <div class="form__inputs flexColumn">
                    <label class="form__label flexColumn">
                        <span class="form__input-title color__gray text_S">Сумма кредита</span>
                        <input type="number" class="form__input text-l" placeholder="100 000 ₽">
                    </label>

                    <label class="form__label flexColumn">
                        <span class="form__input-title color__gray text_S">Сумма кредита</span>
                        <input type="number" class="form__input text-l" placeholder="100 000 ₽">
                    </label>
                </div>

                <label class="form-agreement flexBox">
                    <input type="checkbox" name="agreement&quot;" hidden="">
                    <span class="form-agreement__check flexCenter">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8" fill="none">
                                <path d="M1 2.77778L4.2 6.33333L9 1" stroke="white" stroke-linecap="round"></path>
                            </svg>
                        </span>

                    <span class="filter-checkbox__label text_S color__gray">Нажимая на кнопку "Оставить заявку", вы даете <span class="color-blue-20">согласие на обработку персональных данных</span></span>
                </label>

                <button type="submit" class="form__submit btn__red btn-custom text-l w-100">Оставить заявку</button>

            </div>
        </form>
    </div>

    <div class="consultation-consultant borderRadius-24-16"></div>
</section>