<section class="contacts-section {{pageSectionType}} width-container">

    <div class="contacts-section__content flexColumn flexJustifyBetween bg__white borderRadius-24-16">
        <h2 class="color-black">Контакты</h2>

        <div class="contacts-wrapper flexColumn">
            <div class="contacts-item flexBox">
                    <span class="contacts-item__icon flexBox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M19.23 15.2598L16.69 14.9698C16.3914 14.9347 16.0886 14.9678 15.8046 15.0665C15.5206 15.1652 15.2626 15.327 15.05 15.5398L13.21 17.3798C10.3714 15.9357 8.0641 13.6284 6.62004 10.7898L8.47004 8.93977C8.90004 8.50977 9.11004 7.90977 9.04004 7.29977L8.75004 4.77977C8.69356 4.29186 8.45951 3.84179 8.0925 3.51536C7.7255 3.18893 7.25121 3.00897 6.76004 3.00977H5.03004C3.90004 3.00977 2.96004 3.94977 3.03004 5.07977C3.56004 13.6198 10.39 20.4398 18.92 20.9698C20.05 21.0398 20.99 20.0998 20.99 18.9698V17.2398C21 16.2298 20.24 15.3798 19.23 15.2598Z" fill="#F52933"/>
                        </svg>
                    </span>
                <a href="tel:+79999999999" class="h4">+ 7 (999) 999-99-99</a>
            </div>
            <div class="contacts-item flexBox">
                    <span class="contacts-item__icon flexBox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M4 4.25C3.27065 4.25 2.57118 4.53973 2.05546 5.05546C1.53973 5.57118 1.25 6.27065 1.25 7V17C1.25 17.7293 1.53973 18.4288 2.05546 18.9445C2.57118 19.4603 3.27065 19.75 4 19.75H20C20.7293 19.75 21.4288 19.4603 21.9445 18.9445C22.4603 18.4288 22.75 17.7293 22.75 17V7C22.75 6.27065 22.4603 5.57118 21.9445 5.05546C21.4288 4.53973 20.7293 4.25 20 4.25H4ZM7.43 8.386C7.26698 8.27962 7.06899 8.24079 6.87787 8.27771C6.68674 8.31464 6.51746 8.42442 6.4058 8.58387C6.29414 8.74331 6.24884 8.93992 6.27948 9.13215C6.31012 9.32438 6.4143 9.49717 6.57 9.614L11.57 13.114C11.696 13.2022 11.8462 13.2495 12 13.2495C12.1538 13.2495 12.304 13.2022 12.43 13.114L17.43 9.614C17.5142 9.55904 17.5865 9.48771 17.6426 9.40425C17.6987 9.32079 17.7374 9.2269 17.7565 9.12817C17.7756 9.02943 17.7746 8.92787 17.7536 8.82952C17.7327 8.73117 17.6921 8.63804 17.6345 8.55567C17.5768 8.4733 17.5031 8.40337 17.4179 8.35005C17.3326 8.29672 17.2375 8.26108 17.1382 8.24525C17.0389 8.22942 16.9374 8.23373 16.8398 8.25791C16.7422 8.28208 16.6504 8.32565 16.57 8.386L12 11.585L7.43 8.386Z" fill="#F52933"/>
                        </svg>
                    </span>
                <a href="mailto:test@gmail.com" class="h4">test@gmail.com</a>
            </div>
            <div class="contacts-item flexBox">
                    <span class="contacts-item__icon flexBox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.75 11.38V6H11.25V12L15.493 16.243L16.553 15.183L12.75 11.38ZM12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22Z" fill="#F52933"/>
                        </svg>
                    </span>
                <div class="schedule-times flexColumn h4">
                        <span>
                            <span class="color-gray-35">пн-пт:</span>
                            10:00 — 19:00
                        </span>
                    <span>
                             <span class="color-gray-35">сб-вс:</span>
                            выходной
                        </span>
                </div>

            </div>
            <div class="contacts-item flexBox">
                    <span class="contacts-item__icon flexBox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <path d="M9.6001 10.3941C9.6001 9.75762 9.85295 9.14717 10.303 8.69708C10.7531 8.247 11.3636 7.99414 12.0001 7.99414C12.6366 7.99414 13.2471 8.247 13.6972 8.69708C14.1472 9.14717 14.4001 9.75762 14.4001 10.3941C14.4001 11.0307 14.1472 11.6411 13.6972 12.0912C13.2471 12.5413 12.6366 12.7941 12.0001 12.7941C11.3636 12.7941 10.7531 12.5413 10.303 12.0912C9.85295 11.6411 9.6001 11.0307 9.6001 10.3941Z" fill="#F52933"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.6001 10.3936C1.60179 7.63646 2.69825 4.99282 4.64845 3.04383C6.59864 1.09483 9.24295 -5.22062e-07 12.0001 0C17.7425 0 22.4001 4.6544 22.4001 10.3936C22.4001 14.672 20.2593 18.0624 17.9649 20.3536C16.9492 21.3706 15.8127 22.2594 14.5809 23C14.0657 23.304 13.5841 23.544 13.1649 23.7072C12.7697 23.864 12.3553 23.9856 12.0001 23.9856C11.6449 23.9856 11.2305 23.864 10.8353 23.7072C10.346 23.5078 9.87265 23.2714 9.4193 23C8.18747 22.2594 7.051 21.3706 6.0353 20.3536C3.7409 18.0624 1.6001 14.672 1.6001 10.3936ZM12.0001 6.3952C10.9392 6.3952 9.92182 6.81663 9.17167 7.56677C8.42152 8.31692 8.0001 9.33433 8.0001 10.3952C8.0001 11.4561 8.42152 12.4735 9.17167 13.2236C9.92182 13.9738 10.9392 14.3952 12.0001 14.3952C13.061 14.3952 14.0784 13.9738 14.8285 13.2236C15.5787 12.4735 16.0001 11.4561 16.0001 10.3952C16.0001 9.33433 15.5787 8.31692 14.8285 7.56677C14.0784 6.81663 13.061 6.3952 12.0001 6.3952Z" fill="#F52933"/>
                        </svg>
                    </span>
                <a href="https://yandex.com/map-widget/v1/?um=constructor%3Afc97bcac343ac42b626695f6368107488c20155a5017522abc22a6cadfffe2f3&amp;source=constructor" class="h4" target="_blank">ул. Ткачей, 23</a>
            </div>
            <div class="contacts-item  soc-wrapper flexBox">
                <a href="https://t.me/+79999999999" target="_blank" class="soc-item flexBox">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_899_276)">
                            <path d="M12 0C8.81812 0 5.76375 1.26506 3.51562 3.51469C1.2652 5.76522 0.000643966 8.81734 0 12C0 15.1813 1.26562 18.2357 3.51562 20.4853C5.76375 22.7349 8.81812 24 12 24C15.1819 24 18.2362 22.7349 20.4844 20.4853C22.7344 18.2357 24 15.1813 24 12C24 8.81869 22.7344 5.76431 20.4844 3.51469C18.2362 1.26506 15.1819 0 12 0Z" fill="#F52933"/>
                            <path d="M5.43184 11.873C8.93059 10.349 11.2631 9.3443 12.4293 8.8588C15.7631 7.47261 16.455 7.23186 16.9068 7.2237C17.0062 7.22211 17.2275 7.24667 17.3718 7.36339C17.4918 7.46183 17.5256 7.59495 17.5425 7.68842C17.5575 7.7818 17.5781 7.99461 17.5612 8.16074C17.3812 10.0582 16.5993 14.6629 16.2018 16.7882C16.035 17.6874 15.7031 17.9889 15.3825 18.0184C14.685 18.0825 14.1562 17.5579 13.4812 17.1155C12.4256 16.4231 11.8293 15.9922 10.8037 15.3167C9.61872 14.5359 10.3875 14.1067 11.0625 13.4055C11.2387 13.2219 14.31 10.4291 14.3681 10.1758C14.3756 10.1441 14.3831 10.026 14.3118 9.96373C14.2425 9.9013 14.1393 9.92267 14.0643 9.93955C13.9575 9.96355 12.2718 11.0788 9.00184 13.2851C8.52372 13.614 8.09059 13.7743 7.70059 13.7659C7.27309 13.7567 6.44809 13.5236 5.83497 13.3245C5.08497 13.0802 4.48684 12.951 4.53934 12.536C4.56559 12.32 4.86372 12.099 5.43184 11.873Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_899_276">
                                <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <a href="https://wa.me/79999999999" target="_blank" class="soc-item flexBox">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_899_279)">
                            <path d="M0.51209 11.8563C0.511527 13.8728 1.04253 15.8417 2.05221 17.5771L0.415527 23.5066L6.53103 21.9156C8.2225 22.8292 10.1177 23.308 12.0435 23.3081H12.0486C18.4062 23.3081 23.5815 18.1748 23.5842 11.8653C23.5855 8.80792 22.3866 5.93295 20.2084 3.76997C18.0306 1.60718 15.1342 0.415458 12.0481 0.414062C5.68972 0.414062 0.514809 5.54709 0.512184 11.8563" fill="#F52933"/>
                            <path d="M9.06383 6.89771C8.84014 6.4044 8.60473 6.39445 8.39202 6.3858C8.21783 6.37836 8.0187 6.37892 7.81977 6.37892C7.62064 6.37892 7.29711 6.45324 7.02364 6.74952C6.74989 7.04608 5.97852 7.76273 5.97852 9.22031C5.97852 10.6779 7.04848 12.0866 7.19764 12.2845C7.34698 12.482 9.26323 15.5689 12.2981 16.7564C14.8204 17.7433 15.3336 17.547 15.881 17.4975C16.4285 17.4482 17.6477 16.7811 17.8964 16.0892C18.1453 15.3975 18.1453 14.8046 18.0707 14.6807C17.996 14.5572 17.7969 14.4831 17.4983 14.335C17.1997 14.1869 15.7317 13.4701 15.458 13.3712C15.1843 13.2724 14.9853 13.2231 14.7861 13.5198C14.587 13.8159 14.0152 14.4831 13.841 14.6807C13.6669 14.8787 13.4926 14.9034 13.1941 14.7552C12.8953 14.6065 11.9337 14.2941 10.7929 13.2849C9.90523 12.4996 9.30598 11.5298 9.1318 11.2331C8.95761 10.937 9.11314 10.7764 9.26286 10.6288C9.39702 10.496 9.56155 10.2828 9.71098 10.1099C9.85986 9.93687 9.90955 9.81343 10.0091 9.61585C10.1088 9.41808 10.0589 9.24506 9.98436 9.09687C9.90955 8.94868 9.32933 7.48347 9.06383 6.89771Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_899_279">
                                <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="contacts-section__map">
        <iframe src="https://yandex.com/map-widget/v1/?um=constructor%3Afc97bcac343ac42b626695f6368107488c20155a5017522abc22a6cadfffe2f3&amp;source=constructor"></iframe>
    </div>

</section>