<section class="faq-section {{pageSectionType}} width-container">

    <h2>Вопрос ответ</h2>

    <div class="faq-grid section__content">
        <div class="faq-item bg__white borderRadius-24-16 overflowHidden col" data-open-block-wrapper>
            <button  class="faq-question text-l flexJustifyBetween flexAlignCenter w-100" data-open-block-btn>
                Вопрос ответ
            </button>
            <div class="faq-answer color__gray" data-open-block>
                <div class="qaq-answer-content">
                    <p>
                        Недавно я воспользовался услугами кредитного
                        брокера и остался очень доволен. После подачи заявки,
                        менеджеры быстро связались со мной, всего через 10 минут.
                        Они профессионально ответили на все мои вопросы и помогли
                        выбрать лучший вариант кредита. Рекомендую!
                    </p>
                </div>

            </div>
        </div>
        <div class="faq-item bg__white borderRadius-24-16 overflowHidden col" data-open-block-wrapper>
            <button  class="faq-question text-l flexJustifyBetween flexAlignCenter w-100" data-open-block-btn>
                Вопрос ответ
            </button>
            <div class="faq-answer color__gray" data-open-block>
                <div class="qaq-answer-content">
                    <p>
                        Недавно я воспользовался услугами кредитного
                        брокера и остался очень доволен. После подачи заявки,
                        менеджеры быстро связались со мной, всего через 10 минут.
                        Они профессионально ответили на все мои вопросы и помогли
                        выбрать лучший вариант кредита. Рекомендую!
                    </p>
                </div>

            </div>
        </div>
        <div class="faq-item bg__white borderRadius-24-16 overflowHidden col" data-open-block-wrapper>
            <button  class="faq-question text-l flexJustifyBetween flexAlignCenter w-100" data-open-block-btn>
                Вопрос ответ
            </button>
            <div class="faq-answer color__gray" data-open-block>
                <div class="qaq-answer-content">
                    <p>
                        Недавно я воспользовался услугами кредитного
                        брокера и остался очень доволен. После подачи заявки,
                        менеджеры быстро связались со мной, всего через 10 минут.
                        Они профессионально ответили на все мои вопросы и помогли
                        выбрать лучший вариант кредита. Рекомендую!
                    </p>
                </div>

            </div>
        </div>
        <div class="faq-item bg__white borderRadius-24-16 overflowHidden col" data-open-block-wrapper>
            <button  class="faq-question text-l flexJustifyBetween flexAlignCenter w-100" data-open-block-btn>
                Вопрос ответ
            </button>
            <div class="faq-answer color__gray" data-open-block>
                <div class="qaq-answer-content">
                    <p>
                        Недавно я воспользовался услугами кредитного
                        брокера и остался очень доволен. После подачи заявки,
                        менеджеры быстро связались со мной, всего через 10 минут.
                        Они профессионально ответили на все мои вопросы и помогли
                        выбрать лучший вариант кредита. Рекомендую!
                    </p>
                </div>

            </div>
        </div>
        <div class="faq-item bg__white borderRadius-24-16 overflowHidden col" data-open-block-wrapper>
            <button  class="faq-question text-l flexJustifyBetween flexAlignCenter w-100" data-open-block-btn>
                Вопрос ответ
            </button>
            <div class="faq-answer color__gray" data-open-block>
                <div class="qaq-answer-content">
                    <p>
                        Недавно я воспользовался услугами кредитного
                        брокера и остался очень доволен. После подачи заявки,
                        менеджеры быстро связались со мной, всего через 10 минут.
                        Они профессионально ответили на все мои вопросы и помогли
                        выбрать лучший вариант кредита. Рекомендую!
                    </p>
                </div>

            </div>
        </div>
        <div class="faq-item bg__white borderRadius-24-16 overflowHidden col" data-open-block-wrapper>
            <button  class="faq-question text-l flexJustifyBetween flexAlignCenter w-100" data-open-block-btn>
                Вопрос ответ
            </button>
            <div class="faq-answer color__gray" data-open-block>
                <div class="qaq-answer-content">
                    <p>
                        Недавно я воспользовался услугами кредитного
                        брокера и остался очень доволен. После подачи заявки,
                        менеджеры быстро связались со мной, всего через 10 минут.
                        Они профессионально ответили на все мои вопросы и помогли
                        выбрать лучший вариант кредита. Рекомендую!
                    </p>
                </div>

            </div>
        </div>
        <div class="faq-item bg__white borderRadius-24-16 overflowHidden col" data-open-block-wrapper>
            <button  class="faq-question text-l flexJustifyBetween flexAlignCenter w-100" data-open-block-btn>
                Вопрос ответ
            </button>
            <div class="faq-answer color__gray" data-open-block>
                <div class="qaq-answer-content">
                    <p>
                        Недавно я воспользовался услугами кредитного
                        брокера и остался очень доволен. После подачи заявки,
                        менеджеры быстро связались со мной, всего через 10 минут.
                        Они профессионально ответили на все мои вопросы и помогли
                        выбрать лучший вариант кредита. Рекомендую!
                    </p>
                </div>

            </div>
        </div>
        <div class="faq-item bg__white borderRadius-24-16 overflowHidden col" data-open-block-wrapper>
            <button  class="faq-question text-l flexJustifyBetween flexAlignCenter w-100" data-open-block-btn>
                Вопрос ответ
            </button>
            <div class="faq-answer color__gray" data-open-block>
                <div class="qaq-answer-content">
                    <p>
                        Недавно я воспользовался услугами кредитного
                        брокера и остался очень доволен. После подачи заявки,
                        менеджеры быстро связались со мной, всего через 10 минут.
                        Они профессионально ответили на все мои вопросы и помогли
                        выбрать лучший вариант кредита. Рекомендую!
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>