<section class="page-section width-container">
    <div class="promo-block bg__color-primary-light color__white borderRadius-24-16 flexAlignCenter flexJustifyBetween">
        <div class="promo-content flexColumn">
            <span class="promo-title fontWeight500">Только в ноябре!</span>
            <p class="promo-description fontWeight500">
                Запускаем новый поток партнеров! <br>
                Обучим профессии кредитный брокер бесплатно
            </p>
        </div>

        <button class="promo-content__btn bg__white color-primary fontWeight500 whiteBtnHover" data-open-popup="request-popup" data-popup-set-title="Получить консультацию">Получить консультацию</button>
    </div>
</section>