<section class="page-section width-container">

    <div class="seo-section bg__white flexCenter borderRadius-24-16">
        <div class="seo-block flexColumn" data-open-block-wrapper>
            <h2 class="color-black">SEO-text</h2>

            <div class="seo-block__content color__gray" data-open-block>
                <p>
                    Политика в отношении обработки персональных данных
                    1одование персональных данных в средствах массовой информации, размещение в и

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consectetur doloremque error facere. Accusantium deleniti error
                    expedita illo, incidunt inventore laboriosam nostrum nulla
                    obcaecati recusandae rem reprehenderit sit, tempora unde veniam!
                </p>
            </div>


            <button type="button" class="bore-seo-btn btn__red btn-custom text-l w-100" data-open-block-btn data-change-btn-text>Показать еще</button>
        </div>
    </div>

</section>