<section class="tubs-section home__page-section width-container" data-tabs-block>
    <div class="tubs-section-top">
        <div class="panes-wrapper flexBox" data-panes>
            <button class="pans-btn btn-custom bg__white color__gray flexCenter active" data-pane>Физ. лиц</button>
            <button class="pans-btn btn-custom bg__white color__gray flexCenter" data-pane>Юр. лиц</button>
        </div>
        <div class="service-section__title color__white textCenter">Наши услуги</div>
    </div>

    <div class="tubs-containers flexColumn">
        <div data-container>
            <div class="inTubs__slider-controls positionAbsolute flexBox">
                <button id="toLeft_service_individual__slider" class="slider-control-btn bg__white flexCenter whiteBtnHover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
                        <path d="M7.13395 1.06021L6.07295 0.00021553L0.29395 5.77722C0.200796 5.86978 0.126867 5.97986 0.0764193 6.10111C0.0259713 6.22236 0 6.35239 0 6.48372C0 6.61504 0.0259713 6.74507 0.0764193 6.86632C0.126867 6.98757 0.200796 7.09765 0.29395 7.19021L6.07295 12.9702L7.13295 11.9102L1.70895 6.48521L7.13395 1.06021Z"
                              fill="black"/>
                    </svg>
                </button>
                <button id="toRight_service_individual__slider" class="slider-control-btn bg__white flexCenter whiteBtnHover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
                        <path d="M0.000815392 1.05997L1.06182 -2.86102e-05L6.84082 5.77697C6.93397 5.86954 7.0079 5.97961 7.05835 6.10086C7.10879 6.22212 7.13477 6.35214 7.13477 6.48347C7.13477 6.6148 7.10879 6.74483 7.05835 6.86608C7.0079 6.98733 6.93397 7.0974 6.84082 7.18997L1.06182 12.97L0.00181532 11.91L5.42582 6.48497L0.000815392 1.05997Z" fill="black"/>
                    </svg>
                </button>
            </div>
            <div class="services-slider overflowHidden"
                 id="service_individual__slider"
                 data-slider-group-item="service_individual__slider"
                 data-slides-view="3"
                 data-slides-view-tablet="2.6"
                 data-slides-view-mobile="1"
                 data-space-between="32"
                 data-space-between-tablet="25"
                 data-space-between-mobile="10"
                 data-slides-loop="false"
                 data-auto-play="false"
                 data-reverse-direction="false"
                 data-slides-speed="1000"
                 data-grab-cursor="true"
                 data-pagination-clickable="true"
                 data-slides-delay='1000'
                 data-pagination-type="false"
                 data-pagination-type-tablet="false"
                 data-pagination-type-mobile="progressbar"
            >

                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="service-card flexColumn flexAlignCenter bg__white borderRadius-24-16">
                            <div class="service-card__top positionRelative w-100 flexCenter">
                                <div class="service-card__tags positionAbsolute">
                                    <span class="service-card__tag text-l flexCenter">ХИТ</span>
                                </div>

                                <div class="service-card__image flexBox">
                                    <img src="/assets/images/card-icons/feature-img-4.webp" alt="">
                                </div>
                            </div>

                            <div class="service-card__content flexColumn textCenter">
                                <h4>Банковские гарантии</h4>
                                <p class="service-card__description fontWeight600">Помощь в получении банковских
                                    гарантий 44-ФЗ</p>
                                <span class="h4">от 100 000 ₽</span>
                            </div>
                            <a href="" class="service-card__btn btn__red btn-custom w-100 text-l">Узнать
                                подробнее</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-card flexColumn flexAlignCenter bg__white borderRadius-24-16">
                            <div class="service-card__top positionRelative w-100 flexCenter">
                                <div class="service-card__tags positionAbsolute">
                                </div>

                                <div class="service-card__image flexBox">
                                    <img src="/assets/images/card-icons/feature-img-2.webp" alt="">
                                </div>
                            </div>

                            <div class="service-card__content flexColumn textCenter">
                                <h4>Банковские гарантии</h4>
                                <p class="service-card__description fontWeight600">Помощь в получении банковских
                                    гарантий 44-ФЗ</p>
                                <span class="h4">от 100 000 ₽</span>
                            </div>
                            <a href="" class="service-card__btn btn__red btn-custom w-100 text-l">Узнать
                                подробнее</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-card flexColumn flexAlignCenter bg__white borderRadius-24-16">
                            <div class="service-card__top positionRelative w-100 flexCenter">
                                <div class="service-card__tags positionAbsolute">
                                </div>

                                <div class="service-card__image flexBox">
                                    <img src="/assets/images/card-icons/feature-img-3.webp" alt="">
                                </div>
                            </div>

                            <div class="service-card__content flexColumn textCenter">
                                <h4>Банковские гарантии</h4>
                                <p class="service-card__description fontWeight600">
                                    Помощь в получении банковских гарантий 44-ФЗ
                                </p>
                                <span class="h4">от 100 000 ₽</span>
                            </div>
                            <a href="" class="service-card__btn btn__red btn-custom w-100 text-l">Узнать
                                подробнее</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-card flexColumn flexAlignCenter bg__white borderRadius-24-16">
                            <div class="service-card__top positionRelative w-100 flexCenter">
                                <div class="service-card__tags positionAbsolute">
                                </div>

                                <div class="service-card__image flexBox">
                                    <img src="/assets/images/card-icons/feature-img-1.webp" alt="">
                                </div>
                            </div>

                            <div class="service-card__content flexColumn textCenter">
                                <h4>Банковские гарантии</h4>
                                <p class="service-card__description fontWeight600">Помощь в получении банковских
                                    гарантий 44-ФЗ</p>
                                <span class="h4">от 100 000 ₽</span>
                            </div>
                            <a href="" class="service-card__btn btn__red btn-custom w-100 text-l">Узнать
                                подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-container>
            <div class="inTubs__slider-controls positionAbsolute flexBox">
                <button id="toLeft_service_legal__slider" class="slider-control-btn bg__white flexCenter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
                        <path d="M7.13395 1.06021L6.07295 0.00021553L0.29395 5.77722C0.200796 5.86978 0.126867 5.97986 0.0764193 6.10111C0.0259713 6.22236 0 6.35239 0 6.48372C0 6.61504 0.0259713 6.74507 0.0764193 6.86632C0.126867 6.98757 0.200796 7.09765 0.29395 7.19021L6.07295 12.9702L7.13295 11.9102L1.70895 6.48521L7.13395 1.06021Z"
                              fill="black"/>
                    </svg>
                </button>
                <button id="toRight_service_legal__slider" class="slider-control-btn bg__white flexCenter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
                        <path d="M-0.000161171 1.06021L1.06084 0.00021553L6.83984 5.77722C6.93299 5.86978 7.00692 5.97986 7.05737 6.10111C7.10782 6.22236 7.13379 6.35239 7.13379 6.48372C7.13379 6.61504 7.10782 6.74507 7.05737 6.86632C7.00692 6.98757 6.93299 7.09765 6.83984 7.19021L1.06084 12.9702L0.000838757 11.9102L5.42484 6.48521L-0.000161171 1.06021Z"
                              fill="black"/>
                    </svg>
                </button>
            </div>
            <div class="services-slider  overflowHidden"
                 id="service_legal__slider"
                 data-slider-group-item="service_legal__slider"
                 data-slides-view="3"
                 data-slides-view-tablet="2.6"
                 data-slides-view-mobile="1"
                 data-space-between="32"
                 data-space-between-tablet="25"
                 data-space-between-mobile="10"
                 data-slides-loop="false"
                 data-auto-play="false"
                 data-reverse-direction="false"
                 data-slides-speed="1000"
                 data-grab-cursor="true"
                 data-pagination-clickable="true"
                 data-slides-delay='1000'
                 data-pagination-type="false"
                 data-pagination-type-tablet="false"
                 data-pagination-type-mobile="progressbar"
            >

                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="service-card flexColumn flexAlignCenter bg__white borderRadius-24-16">
                            <div class="service-card__top positionRelative w-100 flexCenter">
                                <div class="service-card__tags positionAbsolute">
                                </div>

                                <div class="service-card__image flexBox">
                                    <img src="/assets/images/card-icons/feature-img-2.webp" alt="">
                                </div>
                            </div>

                            <div class="service-card__content flexColumn textCenter">
                                <h4>Банковские гарантии</h4>
                                <p class="service-card__description fontWeight600">Помощь в получении банковских
                                    гарантий 44-ФЗ</p>
                                <span class="h4">от 100 000 ₽</span>
                            </div>
                            <a href="" class="service-card__btn btn__red btn-custom w-100 text-l">Узнать
                                подробнее</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-card flexColumn flexAlignCenter bg__white borderRadius-24-16">
                            <div class="service-card__top positionRelative w-100 flexCenter">
                                <div class="service-card__tags positionAbsolute">
                                    <span class="service-card__tag text-l flexCenter">ХИТ</span>
                                </div>

                                <div class="service-card__image flexBox">
                                    <img src="/assets/images/card-icons/feature-img-4.webp" alt="">
                                </div>
                            </div>

                            <div class="service-card__content flexColumn textCenter">
                                <h4>Банковские гарантии</h4>
                                <p class="service-card__description fontWeight600">Помощь в получении банковских
                                    гарантий 44-ФЗ</p>
                                <span class="h4">от 100 000 ₽</span>
                            </div>
                            <a href="" class="service-card__btn btn__red btn-custom w-100 text-l">Узнать
                                подробнее</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-card flexColumn flexAlignCenter bg__white borderRadius-24-16">
                            <div class="service-card__top positionRelative w-100 flexCenter">
                                <div class="service-card__tags positionAbsolute">
                                </div>

                                <div class="service-card__image flexBox">
                                    <img src="/assets/images/card-icons/feature-img-1.webp" alt="">
                                </div>
                            </div>

                            <div class="service-card__content flexColumn textCenter">
                                <h4>Банковские гарантии</h4>
                                <p class="service-card__description fontWeight600">Помощь в получении банковских
                                    гарантий 44-ФЗ</p>
                                <span class="h4">от 100 000 ₽</span>
                            </div>
                            <a href="" class="service-card__btn btn__red btn-custom w-100 text-l">Узнать
                                подробнее</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-card flexColumn flexAlignCenter bg__white borderRadius-24-16">
                            <div class="service-card__top positionRelative w-100 flexCenter">
                                <div class="service-card__tags positionAbsolute">
                                </div>

                                <div class="service-card__image flexBox">
                                    <img src="/assets/images/card-icons/feature-img-3.webp" alt="">
                                </div>
                            </div>

                            <div class="service-card__content flexColumn textCenter">
                                <h4>Банковские гарантии</h4>
                                <p class="service-card__description fontWeight600">
                                    Помощь в получении банковских гарантий 44-ФЗ
                                </p>
                                <span class="h4">от 100 000 ₽</span>
                            </div>
                            <a href="" class="service-card__btn btn__red btn-custom w-100 text-l">Узнать
                                подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-section__bottom flexCenter">
        <a href="/services.html" class="btn__red btn-custom text-l">Все услуги</a>
    </div>

</section>