<section class="stats-section {{pageSectionType}}  width-container">
    <div class="stats__grid">
        <div class="stats__card stats__card-1 bg__white flexColumn textCenter">
            <div class="stats-card__value h1">10 лет</div>
            <h4 class="stats-card__description ">Мы помогаем вам с одобрение кредита</h4>
        </div>
        <div class="stats__card stats__card-2 bg__white flexColumn textCenter">
            <div class="stats-card__value h1">80 %</div>
            <h4 class="stats-card__description">клиентов проходит по&nbsp;рекомендации</h4>
        </div>
        <div class="stats__card stats__card-3 bg__white flexColumn textCenter">
            <div class="stats-card__value h1">> 882 450 000 ₽</div>
            <h4 class="stats-card__description">клиентов проходит по&nbsp;рекомендации</h4>
        </div>
    </div>
</section>