<section class="{{pageSectionType}} width-container">
    <div class="steps-section bg__white ">
        <div class="steps-section__description flexColumn">
            <div class="steps-section-description__top flexColumn positionRelative">
                <h2 class="color-black">Всего 4 шага до получения денег</h2>
                <p class="text-l color__gray">Бесплатно проверим кредитную историю и проверим аналитику. Работаем по договору. Без предоплат</p>
                <button class="btn__red btn-custom mw-fitContent" data-open-popup="request-popup" data-popup-set-title="Оставить заявку">Оставить заявку</button>
            </div>

            <div class="steps-section__image flexCenter mb-hide">
                <img src="/assets/images/banners/consultant-img-1.webp" alt="consultant-im">
            </div>
        </div>

        <div class="steps-section__process">
            <div class="process-item flexBox">
                <span class="process-item__number font-size-24-16">01</span>
                <span class="process-item__line"></span>
                <div class="process-item__description flexColumn">
                    <span class="font-size-24-16">Оставьте заявку</span>
                    <p class="process-list__text color__gray">Вы оставляете заявку и наши менеджеры связываются с Вами в течении 10 минут</p>
                </div>
            </div>
            <div class="process-item flexBox">
                <span class="process-item__number font-size-24-16">02</span>
                <span class="process-item__line"></span>
                <div class="process-item__description flexColumn">
                    <span class="font-size-24-16">Встреча в офисе</span>
                    <p class="process-list__text color__gray">Проверим кредитную историю. Проводим аналитику. Заключаем договор</p>
                </div>
            </div>
            <div class="process-item flexBox">
                <span class="process-item__number font-size-24-16">03</span>
                <span class="process-item__line"></span>
                <div class="process-item__description flexColumn">
                    <span class="font-size-24-16">Оформление кредита</span>
                    <p class="process-list__text color__gray">Наши аналитики выстраивают стратегию работы, подбирают подходящие банки, добиваются одобрения</p>
                </div>
            </div>
            <div class="process-item flexBox">
                <span class="process-item__number font-size-24-16">04</span>
                <span class="process-item__line"></span>
                <div class="process-item__description flexColumn">
                    <span class="font-size-24-16">Деньги</span>
                    <p class="process-list__text color__gray">Вы получаете деньги удобным способом и только после этого оплачиваете услуги</p>
                </div>
            </div>
        </div>
    </div>
</section>