<section class="{{pageSectionType}} width-container">
    {{#if sectionTitle}}
        <h2>{{sectionTitle}}</h2>
    {{/if}}


    <div class="success-stats section__content">
        <div class="success-stats__main">
            <div class="success-stats__item bg__white borderRadius-24-16">
                <div class="success-stats__title">
                    Количество выданных кредитов/общая сумма
                </div>
            </div>
            <div class="success-stats__item bg__white borderRadius-24-16">
                <div class="success-stats__title">Экономия времени клиента</div>
            </div>
            <div class="success-stats__item success-stats__item-long bg__white borderRadius-24-16">
                <div class="success-stats__title">
                    Процент одобрения/успешных кейсов (94%, 90% и т.д.)
                </div>
            </div>
        </div>

        <div class="success-stats__features flexColumn">
            <div class="feature-card bg__white flexAlignCenter">
                <div class="feature-card__icon feature-card__icon-1"></div>
                <div class="feature-card__title color__gray fontWeight600">
                    Количество выданных <br> кредитов/общая сумма
                </div>
            </div>

            <div class="feature-card bg__white flexAlignCenter">
                <div class="feature-card__icon feature-card__icon-2"></div>
                <div class="feature-card__title color__gray fontWeight600">
                    Экспертиза команды (образование, опыт в банках)
                </div>
            </div>

            <div class="feature-card bg__white flexAlignCenter">
                <div class="feature-card__icon feature-card__icon-3"></div>
                <div class="feature-card__title color__gray fontWeight600">
                    Количество выданных <br> кредитов/общая сумма
                </div>
            </div>

            <div class="feature-card bg__white flexAlignCenter">
                <div class="feature-card__icon feature-card__icon-4"></div>
                <div class="feature-card__title color__gray fontWeight600">
                    Экспертиза команды (образование, опыт в банках)
                </div>
            </div>
        </div>

    </div>
</section>