<div class="soc-fix-buttons">
    <div class="soc-fix__container width-container">
        <div class="fixed-buttons">
            <a href="https://wa.me/79991234567" target="_blank" class="btn wa flexCenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path d="M11.9492 0C15.1457 0.00138453 18.146 1.25162 20.4023 3.52051C22.6582 5.78937 23.9005 8.805 23.8994 12.0127C23.8967 18.6311 18.5348 24.0166 11.9492 24.0166H11.9443C9.94458 24.0157 7.97971 23.512 6.23438 22.5557L0.597657 24.041C0.287519 24.1227 0.00464503 23.8377 0.0888677 23.5283L1.59473 18.0049C0.54915 16.1847 -0.000641296 14.1193 5.6136e-07 12.0039C0.00275612 5.38533 5.36246 0.000246728 11.9492 0ZM8.18359 6.72852C8.00858 6.72859 7.72462 6.80052 7.48438 7.08594C7.24374 7.37178 6.56543 8.06349 6.56543 9.46875C6.56565 10.8728 7.50448 12.2294 7.63672 12.4219C7.76798 12.6123 9.45277 15.5886 12.1201 16.7334C14.3371 17.6849 14.7884 17.4959 15.2695 17.4482C15.7507 17.4006 16.8223 16.7577 17.041 16.0908C17.2597 15.4241 17.2599 14.852 17.1943 14.7324C17.1288 14.6134 16.9529 14.5422 16.6904 14.3994C16.4273 14.2562 15.1379 13.565 14.8975 13.4697C14.6569 13.3746 14.4817 13.3274 14.3066 13.6133C14.1317 13.8988 13.63 14.5416 13.4766 14.7324C13.3235 14.9233 13.1697 14.9476 12.9072 14.8047C12.6446 14.6613 11.7995 14.3596 10.7969 13.3867C10.017 12.6299 9.49029 11.6955 9.33691 11.4092C9.18388 11.1236 9.32058 10.9686 9.45215 10.8262C9.56999 10.6983 9.7145 10.4928 9.8457 10.3262C9.97665 10.1594 10.0209 10.0401 10.1084 9.84961C10.1959 9.65909 10.1515 9.49242 10.0859 9.34961C10.0203 9.20678 9.51078 7.79454 9.27734 7.22949C9.08071 6.75381 8.87354 6.74372 8.68652 6.73535C8.53354 6.72828 8.35832 6.72852 8.18359 6.72852Z" fill="white"/>
                </svg>
            </a>
            <a href="https://t.me/79991234567" target="_blank" class="btn tg flexCenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21" fill="none">
                    <path d="M9.70958 13.7922L9.18401 19.4303C9.18401 19.4303 8.96401 21.1579 10.6752 19.4303C12.3863 17.7027 14.0242 16.3706 14.0242 16.3706" fill="white"/>
                    <path d="M6.13125 12.1029L0.499343 10.2507C0.499343 10.2507 -0.173732 9.9751 0.0429982 9.35007C0.0876134 9.22118 0.177613 9.11151 0.446843 8.92302C1.69472 8.04506 23.5441 0.118168 23.5441 0.118168C23.5441 0.118168 24.161 -0.0916656 24.5248 0.0479C24.6148 0.076024 24.6958 0.127778 24.7595 0.197865C24.8232 0.267953 24.8673 0.353859 24.8873 0.446797C24.9267 0.61095 24.9431 0.779836 24.9362 0.948573C24.9345 1.09454 24.9169 1.22984 24.9037 1.442C24.7706 3.60925 20.7883 19.7841 20.7883 19.7841C20.7883 19.7841 20.55 20.7306 19.6964 20.763C19.4866 20.7698 19.2776 20.734 19.0818 20.6575C18.8861 20.5811 18.7076 20.4657 18.557 20.3181C16.8818 18.8636 11.0918 14.936 9.81239 14.0722C9.78353 14.0523 9.75922 14.0265 9.74111 13.9963C9.723 13.9662 9.7115 13.9325 9.70739 13.8975C9.6895 13.8065 9.78758 13.6937 9.78758 13.6937C9.78758 13.6937 19.8695 4.64813 20.1377 3.69854C20.1585 3.62497 20.08 3.58867 19.9747 3.62089C19.305 3.86955 7.69701 11.2689 6.41586 12.0855C6.32364 12.1136 6.22617 12.1196 6.13125 12.1029Z" fill="white"/>
                </svg>
            </a>
        </div>
    </div>
</div>